<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Movie Recommender</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
      <style>
         body {
         background-image: url('https://images.unsplash.com/photo-1542204637-e67bc7d41e48?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80');
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         }
      </style>
   </head>
   <body align=center>
      <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4">
            <legend>
               <h1>Movie Recommender</h1>
            </legend>
         </div>
         <div class="col-md-4"></div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4">
            <form class="form-horizontal" action={{ url_for('result') }}  method="post">
            <div class="form-group">
               <label class="control-label col-xs-3" for="var_1">Movie:</label>
               <div class="col-xs-7">
                  <input type="text" class="form-control" name="var_1" placeholder="&nbsp;0&nbsp;">
               </div>
            </div>
            <div class="form-group">
               <div class="form-group">
                  <label class="control-label col-xs-3" for="var_2">Profile:</label>
                  <div class="col-xs-7">
                     <input type="text" class="form-control" name="var_2" placeholder="&nbsp;0&nbsp;">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-9">
                     <input type="submit" class="btn btn-success" value="Submit">
                     <input type="reset" class="btn btn-danger" value="Reset">
                  </div>
               </div>
               </form>
            </div>
            <div class="col-md-4"></div>
         </div>
      </div>
   </body>
</html>